<header id="headernav" class="navbar-default">
   <div class="container-fluid">
      <div class="row">
         <!-- Static navbar -->
         <div role="navigation">
            <!-- class="navbar navbar-default"  -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-header">
               <span class="sr-only">Toggle navigation</span>
               <i class="fa fa-bars"></i>
               </button>
               <a class="navbar-brand" href="/#/"></a>
            </div>
            <nav class="navbar-collapse navbar-collapse-header collapse">
               <!-- Right nav -->
               <div class="navbar-right yamm">
                  <ul class="nav navbar-nav smart-menu dd-menu">
                    
                     <li>
                        <a href="pages-aboutus.html">Login</a>
                      </li>
                     <li>
                        <a href="pages-aboutus.html">Sign up</a>
                      </li>
                  </ul>
               </div>
            </nav>
            <!--/.nav-collapse -->
         </div>
      </div>
   </div>
</header>