.container-fluid.viewport-height.pl0.pr0
  %div.image-bg{id: 'header-unit'}
    %div.mask
      %div.vertical-align
        %div.container{ng-controller: 'HomeController as controller'}
          %div.row
            %p {{controller.value1}}